.App {
  text-align: center;
}

.section {
  padding: 10px 20px;
  border-bottom: 1px solid lightgray;
  width: 80%;
  text-align: left;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.section input {
  padding: 5px;
}

.modal {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0,0,0,0.6);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.modal-inner {
  border-radius: 5px;
  background: #fff;
  width: 80vw;
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding-right: 8px;
  padding-left: 8px;
}


.modal .table {
  border: 1px solid lightgray;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  font-size: 14px;
}

.download-button {
  margin-top: 10px;
}

.stock-name {
  text-transform: uppercase;
}

p {
  margin-top: 0px;
}

h5 {
  margin-bottom: 0px;
  margin-top: 10px;
}

button {
  padding: 5px 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
